@import "../../index.scss";

.books_list{
    background-color: $cdark;
    border-radius: 5px;
    padding: 5px;
    .list_header{
        display: grid;
        grid-gap: 2px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .list_item{
            background-color: lighten($cdark, 15);
        }
    }
    .list_item{
        padding: 5px 10px;
        background-color: lighten($cdark, 5);
        color: $cwhite;
        .item_buttons{
            display: flex;
            gap: 20px;
        }
    }
    .list_items{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2px;
    }
    .book_item{
        display: grid;
        grid-gap: 2px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}