@import "./assets/sass/main.scss";

html{
    background-color: $ccorp;
}
.App{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}
.app_header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    font-size: 40px;
}

.library_app{
    width: 70%;
    margin: 0 auto;
}
